#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 60px;
  background: #000;
}

#navbar a {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 32px;
}

#brand {
  font-size: 24px;
}

.menu-item {
  color: #000 !important;
  font-size: 1.3rem !important;
}
